/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:wght@400;700&display=swap');

/* Reset basic style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    color: inherit;
}


/* control variables */
:root {
    /* Color */
    --color-base: #1e1e1e;
    --color-base-950: #363636;
    --color-base-900: #3d3d3d;
    --color-base-800: #454545;
    --color-base-600: #5d5d5d;
    --color-base-400: #888888;
    --color-base-100: #e7e7e7;
    --color-base-50: #f6f6f6;
    --shadow: #0e0e0e;
    
    
    --color-accent: #D92525;
    --color-accent-2: #f77272;
    --color-accent-3: #25d92e;

    /*  */
    --main-content: 1200px;

    --ff-title: 'Montserrat', sans-serif;
    --ff-links: 'Poppins', sans-serif;
    --ff-code: 'JetBrains Mono', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border: 1px solid var(--shadow);
    border-radius: 15px;
}

/* Start base style */


a {
    font-family: var(--ff-links);
}

html {
    background: var(--color-base);
    color: var(--color-base-50);
    font-family: var(--ff-links);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-title);
}

p {
    font-size: 14px;
}

.full-page {
  min-height: 100vh;
}

.main-content {
  max-width: var(--main-content);
  margin: 0 auto;
  padding: 2.5px;
}

.centralized-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: repeat(300px, 1fr);
}
.task-input input{
  padding: 15px;
  border-radius: 1px;
  border: none;
  margin: 10px 0;
  color: var(--color-base-950);
}

.task-input button{
  padding: 15px;
  border-radius: 1px;
  border: none;
  background-color: var(--color-accent-3);
  color: var(--color-base-50);
  cursor: pointer;
  font-weight: bold;
}

.task-list {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-list li {
  padding: 15px;
  border-radius: 1px;
  background-color: var(--color-base-800);
  color: var(--color-base-50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px; 
}

.task-list li.done {
  text-decoration: line-through;
}


/* Generics */
.font-code {
  font-family: var(--ff-code) !important;
}

.bold {
  font-weight: bold !important;
}

.italic {
  font-style: italic !important;
}

.text-center {
  text-align: center !important;
}

.low-opacity {
  opacity: 50% !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.font-size-extra {
  font-size: 150% !important;
}

.bg-red {
  background-color: var(--color-accent) !important;
}

.bg-green{
  background-color: var(--color-accent-3) !important;
}

.link:hover {
  color: var(--color-accent) ! important;
}